.acva_container{
    background: url(/img/First.jpg) no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.title_wrap{
    display: flex;
    align-items: center;
    height: 15px;
    justify-content: center;
}

.Rectangle5{
    background: #FFFFFF;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
    margin-right: 66px;
}
.Rectangle3{
    background: #FFFFFF;
   
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
    margin-left: 66px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.acva_title h1{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
.titleh2 h2{
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}