.Rectangle1 {
    background: #018ABE;
    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
    margin-right: 45px;
}

.Rectangle2 {
    background: #018ABE;

    border-radius: 0px 50px;
    width: 28px;
    height: 14px;
    margin-left: 45px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.container_sessions {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessions_title h3 {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 42px;
    color: #FFFFFF;
}


.sessions_wrap {
    display: flex;
    padding-top: 100px;


}


/* путь к крартинкам !!!!!!! */


.sessions_choice_first {

    background: url(../img/girlwoter.jpg) no-repeat;
    column-count: 3;
}

.sessions_choice {
    background: url(../img/unsplash_TnOyyEtrKd0.jpg) no-repeat;
    padding: 0px 0px 20px 0px;
}

/* путь к крартинкам !!!!!!! */


.sessions_url_first h4 {
    margin: 0;
    padding: 456px 108px 50px 50px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.sessions_url {
    width: 420px;

    display: block;
}

.sessions_url h4 {
    margin: 0;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.title_sessions_first {
    padding: 160px 40px 30px 40px;
}

.title_sessions {
    padding: 194px 40px 30px 40px;
}